build/
build-*/
*/build-*
*.user
*.autosave
Makefile*
*.pro.user
*.qmake.stash
*.qm
CMakeCache.txt
CMakeFiles/
*.cmake
cmake_install.cmake
install_manifest.txt
.ninja_deps
.ninja_log
build.ninja

.qtc_clangd/
.cache/
*.exe
*.dll
*.so
*.a
*.lib
*.dylib
*.out
*.app
debug/
release/

*.d


*.slo
*.lo
*.o
*.obj
*.gch
*.pch
s
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app